body{
margin:0;
font-family:Poppins;
background:#0c0f1c;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
position:sticky;
top:0;
}

nav a{
margin:0 15px;
text-decoration:none;
color:white;
}

.btn{
background:#00d9ff;
padding:10px 20px;
color:black;
}

.hero img{
width:100%;
height:80vh;
object-fit:cover;
}

.hero-text{
position:absolute;
top:40%;
left:10%;
}

.about{
padding:80px;
text-align:center;
max-width:900px;
margin:auto;
}

.hours{
padding:80px;
text-align:center;
}

.hours-card{
background:#162447;
padding:40px;
border-radius:10px;
transform:rotateX(10deg);
}

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
padding:80px;
}

.services{
padding:80px;
text-align:center;
}

.service-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.service-card{
background:#162447;
padding:30px;
border-radius:10px;
transition:.3s;
}

.service-card:hover{
transform:translateY(-10px);
}

.quote{
padding:80px;
text-align:center;
}

.quote input,
.quote textarea{
width:60%;
padding:12px;
margin:10px;
}

.reviews{
padding:80px;
text-align:center;
}

.review{
background:#162447;
padding:30px;
margin:20px;
}

.whatsapp{
position:fixed;
bottom:30px;
left:30px;
background:#25D366;
padding:15px;
border-radius:50%;
color:white;
}

#topBtn{
position:fixed;
bottom:30px;
right:30px;
padding:15px;
background:#00d9ff;
border:none;
}
